<!DOCTYPE html>
<html data-ng-app="imdbTop250">
  <head>
    <title>IMDB Top 250</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <!-- build:style main -->
       <link href="/static/main.less" type="text/css" rel="stylesheet/less"/>
       <script src="/static/libs/less-1.4.1.min.js"></script>
    <!--/build-->
  </head>
  <body data-ng-controller="listViewController">
  {% raw %}
    <h1 class="text-center">IMDB top 250</h1>
    <div data-ng-if="updating==true" class="lead text-center"> 
      Updating...
    </div>
    <div data-ng-if="!movies" class="container">
      <div class="row">
        <p id="about" class="lead">
            Hi, enter your IMDB ID below and I will fetch your list.
            Your ID should be on the form <em>ur00000000</em>. You can find it in the url
            on your profile page. Using usernames are in the making and will soon be available.
        </p>
      </div>
    </div>
    <div data-ng-if="movies" class="container">
      <div class="row">
        <div class="lead text-center"> 
          <ng-pluralize count="movies.length" offset=2
                        when="{'0': 'Wow, you have watched them all!',
                               '1': 'You have 1 movie to watch.',
                               'other': 'You have {{movies.length}} movies to watch.'}">
          </ng-pluralize>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-hover">
          <tr>
            <th class="text-center">#</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Year</th>
            <th>Links</th>
          </tr>
          <tr data-ng-repeat="movie in movies">
            <td class="text-center">{{movie.rank}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.year}}</td>
            <td><a href="http://imdb.com/title/{{movie.tconst}}">IMDB</a>
          </tr>
        </table>
      </div>
    </div>
    {% endraw %}
    <nav class="navbar navbar-fixed-bottom" role="navigation">
        <form class="navbar-form text-center">
          <div class="form-group">
            <input type="text" class="form-control" data-ng-model="user_id" placeholder="IMDB user id">
          </div>
          <button class="btn btn-info" data-ng-click="fetchMovieList(user_id)">Fetch</button>
        </form>
      </div>
    </nav>
    
    <a href="https://github.com/relekang/imdb-top250"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    
    <script src="/static/imdbtop250.min.js"></script>
  </body>
</html>
